* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.film-container {
    display: flex;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.film-image {
    width: 150px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.film-details {
    flex-grow: 1;
    padding: 20px;
}

    .film-details h2 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 10px;
        color: #333;
    }

    .film-details p {
        margin: 10px 0;
        color: #666;
    }

    .film-details strong {
        font-weight: bold;
    }
