* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff;
    --black-color: #000;
    --primary-text-color: #a7a7a7;
    --d-background-cont-color: #000000;
    --d-background-sec-cont-color: #121212;
    --d-background-third-cont-color: #242424;
    --block-margin: 8px;
}

html {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--d-background-cont-color);
}


a {
    text-decoration: none;
    color: var(--primary-text-color);
}


    a:hover {
        color: var(--primary-text-color);
    }


.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 327px 1fr;
    gap: var(--block-margin);
    padding: var(--block-margin);
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--block-margin);
    width: 100%;
    height: 100%;
}

.container {
    background-color: var(--d-background-sec-cont-color);
    border-radius: 8px;
    padding: 16px;
}

.bg-cont-1 {
    background-color: var(--d-background-third-cont-color);
}

.nav-library,
.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.nav-library {
    height: 100%;
}
/*LOGO*/
.logo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

    .logo .icon {
        width: 24px;
        height: 24px;
    }

    .logo p {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: var(--white-color);
        margin: 0;
    }

    .logo .icon path {
        fill: var(--white-color);
    }


/*NAVIGATION ELEMENT*/

.nav-el {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

    .nav-icon path {
        fill: var(--primary-text-color);
    }

    .nav-el a,
    .nav-icon path,
    .nav-el p {
        font-size: 16px;
        font-weight: 700;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        color: var(--primary-text-color);
        margin: 0;
        transition: 0.3s ease;
    }

.nav-el:hover .nav-icon path {
    fill: var(--white-color);
}

.nav-el:hover a,
.nav-el:hover p {
    color: var(--white-color);
}

.active-nav-el a,
.active-nav-el p,
.active-nav-el .nav-icon path {
    color: var(--white-color);
}

.active-nav-el .nav-icon path {
    fill: var(--white-color);
}


/*CREATE LIBRARY*/

nav .libr-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: .3s ease;
    position: relative;
}

    nav .circle a {
        margin: 0;
        padding: 0;
        font-size: 36px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .circle:hover {
        background-color: var(--d-background-third-cont-color);
    }

.nav-card {
    background-color: var(--d-background-third-cont-color);
    border-radius: 8px;
    padding: 18px;
}

    .nav-card p,
    .nav-card h4 {
        color: var(--white-color);
    }

    .nav-card h4 {
        font-size: 18px;
    }

    .nav-card p {
        font-size: 14px;
    }

    .nav-card input {
        margin-top: 24px;
        padding: 4px 8px;
        background-color: var(--white-color);
        color: var(--black-color);
        border-radius: 16px;
        height: 32px;
        border: none;
        font-weight: 600;
    }

        .nav-card input:hover {
            padding: 4px 12px;
            height: 32px;
            border-radius: 20px;
            margin-left: -4px;
        }

/*NAVIGATION BOTTOM*/

/*:root {
    --white-color: #ffffff;
    --black-color: #000;
    --primary-text-color: #a7a7a7;
    --d-background-cont-color: #000000;
    --d-background-sec-cont-color: #121212;
    --d-background-third-cont-color: #242424;
    --block-margin: 8px;
}*/

.nav-bott {
    margin-top: auto;
}

    .nav-bott ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

        .nav-bott ul li {
            margin-right: var(--block-margin); /* Use variable for margin */
        }

            .nav-bott ul li:last-child {
                margin-right: 0;
            }

            .nav-bott ul li a {
                font-size: 12px;
                line-height: 28px;
                text-decoration: none;
                color: var(--primary-text-color); /* Primary text color */
                padding: var(--block-margin) var(--block-margin); /* Adjust padding */
                border-radius: 4px; /* Rounded corners */
            }

                .nav-bott ul li a:hover {
                    color: var(--white-color);
                }

nav .lang button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    height: 32px;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--white-color);
    transition: .2s ease;
}

    nav .lang button:hover {
        border-color: var(--white-color);
        transform: scale(1.05);
    }

    nav .lang button svg {
        fill: var(--white-color);
        width: 16px;
        height: 16px;
    }
/* MAIN */

.main-cont {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--block-margin);
    background-color: var(--d-background-sec-cont-color);
    border-radius: 8px;
    padding: 16px;
}

    .main-cont::-webkit-scrollbar {
        display: none;
    }
    /* HEADER MAIN */
    .main-cont header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .main-cont header .auth {
            display: flex;
            align-items: center;
            gap: 8px;
        }

            .main-cont header .auth .welc {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 36px;
                color: var(--white-color);
            }

                .main-cont header .auth .welc a {
                    margin-left: 4px;
                }

a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 4px 28px;
    border-radius: 18px;
    transition: .2s;
}

    a.button:hover {
        transform: scale(1.05);
    }

    a.button transp {
        background-color: transparent;
    }

    a.button.transp:hover {
        color: var(--white-color);
    }

    a.button.white {
        background-color: var(--white-color);
        color: var(--d-background-cont-color);
    }

footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-evenly;
}

    footer ul {
        list-style-type: none;
        margin: 0;
        margin-top: -8px;
        padding: 0;
    }

    footer li {
        color: var(--primary-text-color);
        font-weight: 400;
        line-height: 32px;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

        footer li:hover {
            text-decoration-color: var(--white-color);
            color: var(--white-color);
            cursor: pointer;
        }

    footer .foot-title {
        margin-bottom: 16px;
        cursor: default;
        color: var(--white-color);
        font-weight: 700;
    }
