:root {
    --primary-text-color: #a7a7a7;
    --d-background-cont-color: #121212;
}

html {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--d-background-cont-color);
}

main {
    width: 320px;
    margin: 24px auto;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




p {
    color: var(--primary-text-color);
}


main {
    width: 100%;
    height: 100%;
    padding: 48px 48px 24px 48px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-bottom: 36px;
}

    .logo .icon {
        width: 36px;
        height: 36px;
    }

    .logo p {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin: 0;
    }

.container {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    .container h1 {
        color: white;
        font-size: 48px;
        word-wrap: break-word;
        font-weight: 700;
        line-height: 68px;
    }

    .container .btn_login {
        border-radius: 24px;
        background-color: #17ac4d;
        height: 48px;
        margin: 12px 0 0 0;
    }

        .container .btn_login:hover {
            background-color: #1fdf64;
        }

.sep {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
}

.container .sep hr {
    color: gray;
    width: 100%;
}

.container .sep p {
    margin: 0;
    padding: 0;
}

.fast_reg {
}

.my_but {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 24px;
    color: white;
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    gap: 24px;
}

    .my_but:hover {
        border: 1px solid white;
    }

    .my_but .btn_icon {
        width: 24px;
        height: 24px;
        margin: 0 0 0 4px;
    }

    .my_but span {
        font-size: 24px;
        flex: 0.8;
    }

.apple_btn .btn_icon {
    margin-bottom: 8px;
}

.exist_acc {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

    .exist_acc a {
        text-decoration: underline !important;
        cursor: pointer;
    }

.license {
    text-align: center;
    font-size: 14px;
}

    .license span {
        text-decoration: underline !important;
        cursor: pointer;
    }
